---
// components
import SinglePostLayout from "../../layouts/single-post-layout.astro";
import Link from "../../components/link.astro";

//packages
import { formatDate } from "../../utils/date-format";
import { calculateReadingTime } from "../../utils/calculate-reading-time";
import { getWordCount } from "../../utils/get-word-count";

/*

// NOTE: operation if output:server in astro.config

 import { getEntry } from "astro:content";

 const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("ERROR! Slug is required.");
}

const entry = await getEntry("articles", slug);

if (entry === undefined) {
  Astro.redirect("/404");
}

const { Content } = await entry!.render();

*/
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () => {
  const blogPosts = await getCollection("articles");

  const paths = blogPosts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
  return paths;
};

type BlogPostProps = {
  post: CollectionEntry<"articles">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<SinglePostLayout title={post.data.title} description={post.data.title}>
  <div class="flex items-center gap-3 pb-3">
    <Link href={"/"} target={"_self"} label={"Home"} />
    <Link href={"/blog"} target={"_self"} label={"Blog"} />
  </div>

  <div class="space-y-4 py-5 font-inter">
    <h1 class="text-xl font-extrabold text-blue-700 md:text-2xl">
      {post.data.title}
    </h1>
    <div class="rounded-md border bg-zinc-100/60 p-3">
      <p class="text-lg font-semibold">
        {post.data.author}
      </p>
      <p class="text-sm font-medium capitalize text-zinc-400">
        {calculateReadingTime(getWordCount(post.body))} .
        {formatDate(post.data.publishDate)}
      </p>
    </div>
    <div class="flex flex-wrap gap-2">
      {
        post.data.tags.map((tag: string) => (
          <a
            href={"/blog/tag/" + tag}
            class="cursor-pointer rounded-md bg-zinc-100 px-2 py-1.5 text-xs font-bold uppercase transition-all hover:bg-zinc-200/60"
          >
            {tag}
          </a>
        ))
      }
    </div>
  </div>

  <div class="my-4 h-0.5 w-full bg-zinc-500"></div>

  <div class="prose prose-base py-5 font-inter">
    <Content />
  </div>
  <div class="py-6 text-sm font-medium">
    <h1>
      Follow me on <a
        target="_blank"
        href="https://github.com/sanketghosh"
        class="hover:underline hover:underline-offset-4"><b>GitHub</b></a
      > or
      <a
        target="_blank"
        href="https://x.com/svnket"
        class="hover:underline hover:underline-offset-4"><b>X(Twitter)</b></a
      >
    </h1>
  </div>
</SinglePostLayout>

<style is:global>
  pre {
    @apply my-3 rounded-md p-2 font-jetbrains_mono text-lg font-semibold;
  }
</style>
