---
// components
import MainLayout from "../../layouts/main-layout.astro";

//packages
import { getEntry } from "astro:content";
import { formatDate } from "../../utils/date-format";
import { calculateReadingTime } from "../../utils/calculate-reading-time";
import { getWordCount } from "../../utils/get-word-count";

// ops
const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("ERROR! Slug is required.");
}

const entry = await getEntry("articles", slug);

if (entry === undefined) {
  Astro.redirect("/404");
}

const { Content } = await entry!.render();
---

<MainLayout title={entry?.data.title} description={entry?.data.title}>
  <div class="flex items-center gap-3 pb-3">
    <a
      href="/"
      class="text-sm font-semibold text-indigo-500 hover:text-indigo-600 md:text-base"
      >Home</a
    >

    <a
      href="/blog"
      class="text-sm font-semibold text-indigo-500 hover:text-indigo-600 md:text-base"
      >Blog</a
    >
  </div>

  <div class="space-y-4 py-5">
    <h1 class="text-2xl font-bold leading-tight md:text-3xl">
      {entry?.data.title} Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Quibusdam, expedita!
    </h1>
    <div class="flex w-full flex-col rounded-md bg-zinc-800 p-2">
      <p class="text-lg font-semibold">
        {entry?.data.author}
      </p>
      <p class="text-sm font-medium capitalize text-zinc-400">
        {calculateReadingTime(getWordCount(entry!.body))} .
        {formatDate(entry?.data.publishDate)}
      </p>
    </div>
    <div class="flex flex-wrap gap-2">
      {
        entry?.data.tags.map((tag: string) => (
          <a
            href={"/blog/tag/" + tag}
            class="cursor-pointer rounded-md border-2 border-zinc-800 px-2 py-1.5 text-xs font-bold uppercase hover:bg-zinc-800 hover:bg-opacity-80"
          >
            {tag}
          </a>
        ))
      }
    </div>
  </div>
  <div class="w-full py-5">
    <p class="h-0.5 w-full bg-zinc-800"></p>
  </div>
  <div class="py-5">
    <Content />
  </div>
</MainLayout>

<style is:global>
  p {
    @apply text-base;
  }
  h2 {
    @apply my-3 text-lg font-bold;
  }
  img {
    @apply my-3 rounded-md;
  }
  pre {
    @apply my-3 rounded-md p-2 font-mono font-medium;
  }
</style>
