---
// components
import MainLayout from "../layouts/main-layout.astro";
import ProjectSection from "../components/project-section.astro";
import BlogCard from "../components/blog-card.astro";

// packages
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { page_links } from "../constants";

// ops
const allBlogArticles: CollectionEntry<"articles">[] = (
  await getCollection("articles")
)
  .sort(
    (a: CollectionEntry<"articles">, b: CollectionEntry<"articles">) =>
      b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
  )
  .slice(0, 3);
---

<MainLayout description="" title="">
  <main class="space-y-7 py-5">
    <div class="rounded-md bg-zinc-800 p-3">
      <h1 class="text-lg font-bold md:text-xl">sanketghosh</h1>
      <p class="text-[15px] font-medium text-zinc-500 md:text-base">
        learner. developer. dreamer
      </p>
    </div>

    <div class="flex items-center gap-2 font-medium">
      {
        page_links.map((item, idx) => (
          <div>
            <a
              target={item.target}
              href={item.link}
              class="text-sm font-semibold text-indigo-500 hover:text-indigo-600 md:text-base"
            >
              {item.label}
            </a>

            {idx !== page_links.length - 1 && (
              <span class="font-extrabold">/</span>
            )}
          </div>
        ))
      }
    </div>

    <p class="font-medium">
      Primarily a web developer. Recently, I've been exploring the world of AI.
    </p>

    <div class="">
      <h1
        class="mb-4 rounded-md border-2 border-zinc-800 px-3 py-1.5 text-sm font-extrabold uppercase"
      >
        projects
      </h1>
      <ProjectSection />
    </div>

    <div class="">
      <h1
        class="mb-4 rounded-md border-2 border-zinc-800 px-3 py-1.5 text-sm font-extrabold uppercase"
      >
        Latest Wrtings
      </h1>
      <section class="w-full">
        <div class="space-y-3">
          {
            allBlogArticles.map((blog) => (
              <BlogCard
                title={blog.data.title}
                slug={blog.slug}
                date={blog.data.publishDate}
                className="lg:text-base"
              />
            ))
          }
        </div>
      </section>
    </div>

    <div class="flex items-center gap-1 py-5">
      <img src="./mail.svg" alt="" class="size-4 stroke-2" />
      <p class="text-sm font-medium">code.sanket13@gmail.com</p>
    </div>
  </main>
</MainLayout>
